*,body{
    margin:0;
    padding:0;

}
h1,h2,h3,h4{
    font-weight: 900;
}
ul,li{
    float: none;
    list-style: none;
    text-decoration: none;
}
input[type=radio]{
    transform:scale(2);
}

button{
    transition:color 1s ;
}
button:hover{
    background: black;
}
.single-btn{
    font-weight: 700;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}
.title{
    width: 100%;
    background: #6c757d;
    border: 1px solid black;
    text-align: center;
    height: 100px;
}
.quiz-content{
    background: #8fd19e;
    border-radius: 20px;
    margin: 10px 10px;
    padding: 40px 40px;
    width: 100%;
}
.question{
    margin: 20px 0;
    font-weight: 900;
    color: blue;
}
.answers{
    width: 40%;
    margin: 0 20px;
}
.answers ul li{
    margin: 0 30px;
    font-size: 25px;
    font-weight: 700;
}
.timer{
    padding: 0px;
    margin: 0px;
    width: 40%;
}
.start-quiz{
    width: 100%;
}
.selector-exam{
    margin: 5px 5px;
}
.course-section {
    background-color: lightgray;
    margin: 5px 5px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px black;
    width: 80%;
}
.course-section p{
    text-align: justify;
    color: black;

}
.read-more{
    top: 100px;
    margin: 5px 0px;
}
.answer label{
    font-size: 24px;
    font-weight: 800;
    margin: 0;
    padding-left: 5px;
}
button:focus {
    outline: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}